@import "tailwindcss";
@plugin "daisyui";

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
  }
  
  .shake-idle {
    animation: shake 1s infinite ease-in-out;
    animation-delay: 2s;
  }
  